::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
	font-family: Poppins, sans-serif;
}

.containerprenda {
	width: 50%;
	float: left;	
}

.containerinfo {
	width: 45%;
	float: right;	
	margin-right: 4%;
	margin-bottom: 15%;	
}

.title {
	margin-top: -3%;
}

.txcolor {
	margin-bottom: -1%;
}

.txcalza {
	margin-bottom: -1%;
}

.item1 {
	max-width: 500px;
	width: 100%;
}

.item2, .item3, .item4 {
	max-width: 100px;
	width: 100%;
	display: inline-block;
}

.item2 {
	border: 3px solid #000;
}

.sizes {
	background-color: #fff;
	color: #000;
	padding: 5px;
	border: 3px solid #000;
	font-family: Poppins, sans-serif;
	cursor: pointer;
}

.btncompra {
	width: 100%;
	background-color: #FFD100;
	border: none;
	border-radius: 5px;
	height: 35px;
	margin-top: 3%;
	font-family: Poppins, sans-serif;
	cursor: pointer;
}

.simil {
	float: left;
}

.titlecards {
	margin-left: 11%;
	margin-top: 35%;
}

.card {
	margin-left: 5%;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cardbrand {
	margin-left: 5%;	
}

.card1 {
	margin-left: -0%;
}

.card-img-top {
	max-width: 250px;
}

.card-title, .card-text, .card-price, .card-brand {
	font-family: Poppins, sans-serif;
	margin-left: 5%;
	text-align: left;
}

.card-brand {
	color: #727272;
	margin-top: -7%;
}

.card-title {
	margin-top: -6%;
}

.btncomprasimil {
	width: 89%;
	font-family: Poppins, sans-serif;
	color: #000;	
	background-color: #FFD100;
	border: none;
	border-radius: 2px;
	margin-bottom: 5%;	
	cursor: pointer;	
}

.card1, .card2, .card3, .card4 {
	display: inline-block;
}